@model IEnumerable<JustBlog.Core.Entities.Category>

@{
    ViewBag.Title = "Controller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Controller</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = "" }, new { @class = "btn btn-primary" })
</p>
<style>
    table {
        width: 60%;
    }

    table, th, td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .limited-text {
        white-space: nowrap;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Name) </th>
        <th> @Html.DisplayNameFor(model => model.Slug) </th>
        <th> @Html.DisplayNameFor(model => model.Status) </th>
        <th colspan="2">Control</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td> @Html.DisplayFor(modelItem => item.Name)</td>
    <td> @Html.DisplayFor(modelItem => item.Slug) </td>
    <td> @Html.DisplayFor(modelItem => item.Status) </td>
    <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) </td>
    <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) </td>
</tr>
}

</table>
